<header class="header">
	<a href="index.html" class="header__logo">
		<img src="img/satvic-logo.png" alt="logo">
	</a>
	<ul class="header__menu">
		<img src="../img/satvic-logo.png" alt="" class="burger-menu-logo">
		<li><a href="#" class="header__menu-link anchor">Benefits</a></li>
		<li><a href="#" class="header__menu-link anchor">Preview</a></li>
		<li><a href="#" class="header__menu-link anchor">Testimonials</a></li>
		<li><a href="#" class="header__menu-link anchor">About</a></li>
		<div class="button-menu-wrap">
			<a href="#" class="button button-header">Buy Now</a>
		</div>
	</ul>

	<div class="icon-menu"><span></span></div>
</header>